<h1>Dados do Time</h1>
<p>
	<b>Estádio:</b>
	<%= @game.estadio %>
</p>
<p>
	<b>Cidade:</b>
	<%= @game.cidade %>
</p>
<p>
	<b>Horário:</b>
	<%= @game.horario %>
</p>
<p>
<td><%= link_to 'Voltar' , {action: 'index'}, class: "btn btn-primary" %></td>
