<% contador = 1 %>
<h1> Rodadas do Brasileirão </h1>
<table class="table table-hover">
<thead>
	<tr>	
		<th scope="col">
			<td>#</td>
		    <td>Nome</td>
		</th>
    </tr>
</thead>
<tbody>
	<% @rounds.each do |round| %>
	<tr>
	<th scope="row">
		<td><%=contador %></td>
		<td><%=round.nome %></td>
	</th>
    </tr>
    <% contador += 1 %>
	<%  end %>
</tbody>
</table>